.lightning svg {
  display: none;
  font-size: xx-large;
  transform: rotateZ(-45deg) translate(0px, 0px) scaleY(1);
  cursor: default;
}

.lightningAnimate svg {
  font-size: xx-large;
  transform: rotateZ(-45deg) translate(0px, -80px) scaleY(14);
  cursor: default;
  animation: lightning-appear 200ms cubic-bezier(0.235, 0.415, 0.8, 1.575)
    forwards;
}

@keyframes lightning-appear {
  from {
    transform: rotateZ(-45deg) translate(0px, -80px) scaleY(24);
  }
  to {
    transform: rotateZ(-45deg) translate(0px, -80px) scaleY(10);
  }
}
