.seed {
  font-size: xx-large;
  transform: rotateZ(-45deg) rotateX(-20deg) scaleY(1.5);
}

.seedImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapOriginalTransform {
  perspective: 2000px;
  transform-style: preserve-3d;
}

.originalTransform {
  transform: rotateX(-10deg) rotateY(-25deg);
}
