.tile {
  position: absolute;
  border: 1px solid rgba(153, 153, 153, 0.5);
  box-sizing: border-box;
  transform: rotate(45deg);
  width: 64px;
  height: 64px;
  background-color: green;
  cursor: default;
  box-shadow: 16px 16px 8px rgba(0, 120, 0, 0.5);

  display: flex;
  justify-content: center;
}

.centeredTile {
  position: absolute;
  border: 1px solid rgba(153, 153, 153, 0.5);
  box-sizing: border-box;
  transform: rotate(45deg);
  width: 64px;
  height: 64px;
  background-color: green;
  cursor: default;
  box-shadow: 16px 16px 8px rgba(0, 120, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}
