.tileContainer {
  position: absolute;
  left: 50%;
  top: 35%;
  display: flex;

  justify-content: center;
  box-sizing: border-box;
  transform: scaleY(0.5);
}

.row {
  display: flex;
}

.tile {
  position: absolute;
  border: 1px solid #999;
  box-sizing: border-box;
  transform: rotate(45deg);
  width: 64px;
  height: 64px;
}
