.plant {
  font-size: xx-large;
  transform: rotateZ(-45deg) rotateX(-20deg) scaleY(1.5);
  cursor: default;
}

.plantAnimate {
  font-size: xx-large;
  transform: rotateZ(-45deg) rotateX(-20deg) scaleY(1.5);
  cursor: default;
  animation: plant-appear 1s ease-in-out forwards;
}

@keyframes plant-appear {
  from {
    transform: rotateZ(-45deg) rotateX(-20deg) scale(0);
  }
  to {
    transform: rotateZ(-45deg) rotateX(-20deg) scaleY(1.5);
  }
}
